* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .logo {
  width: 20%;
  height: auto;
} */

nav {
  height: 4.45rem;
  display: flex;
  background-color: blue;
  padding: 1.25rem 2rem;
}