* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}
body {
  font-family: Inter, sans-serif;
}
nav img {
  width: 7%;
  height: auto;
}
h3 {
  margin-right: auto;
  color: #61DAFB;
}
h4 {
  color: #DEEBF8;
}