* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}
body {
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282D35;
}
nav img {
  width: 7%;
  height: auto;
}
h3 {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 1.4rem;
}
h4 {
  color: #DEEBF8;
  font-weight: 600;
  font-size: 1.5rem;
}
main {
  padding: 57px 27px;
  color: #fff;
  background-image:  url(../Images/react-icon-small.png);
  background-color: rgba(0,0,0, .5);
  background-repeat: no-repeat;
  background-position-x: 110%;
  background-position-y: 75%;
  background-blend-mode: darken;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05rem;
}
.main--facts {
  margin-top: 2.85rem;
}

.main--facts > li {
  line-height: 1.25rem;
  padding-block: 10px; /* Padding for top and bottom only */
}
.main--facts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}